{% extends "base.html" %}
{% load static %}

{% block content %}

  <div class="container justify-content-center d-flex gap-4 mt-5">
    <div class="container shadow shadow-md p-3 rounded">
      
      <form id="formCreate" method="post" enctype="multipart/form-data" class="d-flex flex-column justify-content-center">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-primary text-uppercase">Subir saludo</button>        
      </form>

    </div>
  </div>

{% endblock content %}


{% block custom_js %}
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>  {% comment %} static/js/alerts.js {% endcomment %}
  <script src="{% static 'js/alerts.js' %}"></script>
{% endblock custom_js %}