{% extends "base.html" %}
{% load static %}

{% block content %}

  <div class="container d-flex gap-4 mt-5">
    <div class="container shadow shadow-md p-3 rounded">
      <div class="row justify-content-center gap-3">
      
        {% for img_greeting in imgs_greeting %}
      
          <div class="col col-3 bg-dark rounded shadow-sm overflow-hidden">
            <img class="object-fill-contain" src="{{ img_greeting }}" alt="Foto de rafa saludando" width=100% height=100%>
          </div>

        {% endfor %}
      
      </div>
      <form class="row justify-content-center">
        <div class="col col-auto py-3">
          <input type="text" class="form-control" placeholder="Ingresa tu nombre" name="name" value="{{name|default:''}}">
        </div>
        <div class="col col-auto py-3">
          <select name="gender" id="" class="form-select">
            <option selected>Selecciona tu genero:</option>
            <option value="m" {% if gender == 'm' %}selected{% endif %}>Masculino</option>
            <option value="f" {% if gender == 'f' %}selected{% endif %}>Femenino</option>
          </select>
        </div>
        <div class="col col-auto py-3">
          <button class="btn btn-primary">{{"Enviar nombre"|upper}}</button>
        </div>
      </form>
    </div>
    <div class="container shadow shadow-md p-3 rounded bg-dark text-white">
      <h1 class="text-center">{{"Hello world"|upper}}</h1>
      <h2 class="text-center text-uppercase">{{ greeting }} {{ name|default:"Anonimo" }}</h2>
      <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio commodi nemo, a delectus reiciendis possimus, architecto ipsam esse officia illum debitis asperiores minus voluptatibus quia laudantium ab repudiandae vitae dolores?</p>
    </div>
  </div>

{% endblock content %}